@import '~normalize.css';

$blackColor:  #000000;
$errorRedColor: hsl(10, 90, 70);

.container {
    display: block;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
    &__greetings {
        text-align: center;
        color: $blackColor;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50vh;
    margin: auto;
    width: 100%;
}

.errors {
    &__frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-wrap: break-word;
    }
    &__info {
        text-align: center;
        color: $errorRedColor;
        width: 30%;
    }
}
